@model CommentViewModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="mb-3">
                <input asp-for="@Model.Name" class="form-control" aria-required="true" placeholder="Name"/>
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <textarea asp-for="@Model.CommentText" class="form-control" aria-required="true" rows="5" placeholder="Comment"></textarea>
                <span asp-validation-for="@Model.CommentText" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <form class="input-group-sm" asp-controller="Comment" asp-action="AddComment" asp-route-id="@Model.FilmId">
                     <input class="btn btn-success" type="submit" value="Add comment" />
                </form>
                @*<input class="btn btn-primary" type="AddComment" value="Add" />*@
            </div>
        </form>
    </div>
</div>