@model IEnumerable<NewsViewModel>

@{
    ViewBag.Title = "Coming soon to your screens...";
}
<link href="~/css/news.css" rel="stylesheet" type="text/css">

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="row">
    @foreach(var item in Model)
    {
       <div class="col">
           <span></span>
             <img src="@item.PhotoUrl">
       </div>
       <div class="col">
           <h3>@item.Title</h3>
           <h4><b>Created on: </b>@item.Date</h4>
           <p>@item.Description</p> 
       </div>
    } 
                   
</div>