@model IEnumerable<NewsViewModel>

@{
    ViewBag.Title = "Coming soon to your screens...";
}
<link href="~/css/news.css" rel="stylesheet" type="text/css">

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="row">
    @foreach(var item in Model)
    {
       <div class="col">
           <span></span>
             <img src="@item.PhotoUrl">
       </div>
       <div class="col">   
           @if(item.Genre == "Drama")
                        {
                            <button class="movie__tag--drama">@item.Genre</button>
                        }
                        @if(item.Genre == "Thriller")
                        {
                            <button class="movie__tag--thriller">@item.Genre</button>
                        }                        
                        @if(item.Genre == "Action")
                        {
                            <button class="movie__tag--action">@item.Genre</button>                            
                        }
                        @if(item.Genre == "Comedy")
                        {
                            <button class="movie__tag--comedy">@item.Genre</button>                            
                        } 

           <h3>@item.Title</h3>
           <p>@item.Description</p> 
                                 
           <a href = @item.VideoUrl>
               <button class="trailer"> Watch trailer</button>
           </a>

           <h4><b>Release date: </b>@item.ReleaseDate</h4>
           <hr />
       </div>
    } 
                   
</div>