@model IEnumerable<FilmByGenreViewModel>

<link href="~/css/catalogue.css" rel="stylesheet" type="text/css">


<div class="general-div">
    <section id="moviesSection">
        @foreach (var film in Model)
        {
            <h2>@film.Genre</h2>
            <div class="sub-div">
                <article>
                    <img class="movie__img2"
                         src= @film.ImageUrl>
                    <div class="card-body">                        
                        <h5>@film.Name</h5>
                        <p>@film.Country, @film.Year</p>
                        <p>@film.Description</p>
                    </div>
                </article>

                @if (User.Identity.IsAuthenticated)
                {
                    @if(film.Genre == "Thriller")
                        {
                            <form class="input-group-sm" asp-controller="Film" asp-action="AddToFavourites" asp-route-id="@film.Id">
                                <input type="submit" value="Add to Favourite" class="addToFavor--thriller" />
                            </form>
                        }
                        @if(film.Genre == "Fantasy")
                        {
                            <form class="input-group-sm" asp-controller="Film" asp-action="AddToFavourites" asp-route-id="@film.Id">
                                <input type="submit" value="Add to Favourite" class="addToFavor--fantasy" />
                            </form>
                        }
                        @if(film.Genre == "Animation")
                        {
                            <form class="input-group-sm" asp-controller="Film" asp-action="AddToFavourites" asp-route-id="@film.Id">
                                <input type="submit" value="Add to Favourite" class="addToFavor--animation" />
                            </form>
                        }
                        @if(film.Genre == "Comedy")
                        {
                            <form class="input-group-sm" asp-controller="Film" asp-action="AddToFavourites" asp-route-id="@film.Id">
                                <input type="submit" value="Add to Favourite" class="addToFavor--comedy" />
                            </form>
                        }   
                        @if(film.Genre == "Action")
                        {
                            <form class="input-group-sm" asp-controller="Film" asp-action="AddToFavourites" asp-route-id="@film.Id">
                                <input type="submit" value="Add to Favourite" class="addToFavor--action" />
                            </form>
                        }                         
                }
            </div>
        }
    </section>
</div>
