@model IEnumerable<AllFilmViewModel>
@{
    ViewBag.Title = "Favourites";
}
<link href="~/css/catalogue.css" rel="stylesheet" type="text/css">

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="general-div">
    <section id="moviesSection">
        @if(!Model.Any())
        {
            <h2 class="text-center">You don't have any films yet!</h2>
        }
        @foreach (var film in Model)
        {
            <div class="sub-div">
                <article>
                    <img class="movie__img2"
                         src= @film.ImageUrl>
                    <div class="card-body">
                        @if(film.Genre == "Thriller")
                        {
                            <form class="input-group-sm" asp-controller="Film" asp-action="FilmByGenre" asp-route-id="@film.Id">
                                <input type="submit" value="Thriller" class="movie__tag--thriller" />
                            </form>
                        }
                        @if(film.Genre == "Fantasy")
                        {
                             <form class="input-group-sm" asp-controller="Film" asp-action="FilmByGenre" asp-route-id="@film.Id">
                                <input type="submit" value="Fantasy" class="movie__tag--fantasy" />
                            </form>
                        }
                        @if(film.Genre == "Animation")
                        {
                             <form class="input-group-sm" asp-controller="Film" asp-action="FilmByGenre" asp-route-id="@film.Id">
                                <input type="submit" value="Animation" class="movie__tag--animation" />
                            </form>
                        }
                        @if(film.Genre == "Comedy")
                        {
                             <form class="input-group-sm" asp-controller="Film" asp-action="FilmByGenre" asp-route-id="@film.Id">
                                <input type="submit" value="Comedy" class="movie__tag--comedy" />
                            </form>
                        }   
                        @if(film.Genre == "Action")
                        {
                             <form class="input-group-sm" asp-controller="Film" asp-action="FilmByGenre" asp-route-id="@film.Id">
                                <input type="submit" value="Action" class="movie__tag--action" />
                            </form>
                        } 
                        <h5>@film.Name</h5>
                        <p>@film.Description</p>
                    </div>
                </article>


                @if (User.Identity.IsAuthenticated)
                {
                        @if(film.Genre == "Thriller")
                        {
                            <form class="input-group-sm" asp-controller="Film" asp-action="RemoveFromFavourites" asp-route-id="@film.Id">
                                <input type="submit" value="Remove from Favourite" class="addToFavor--thriller" />
                            </form>
                        }
                        @if(film.Genre == "Fantasy")
                        {
                           <form class="input-group-sm" asp-controller="Film" asp-action="RemoveFromFavourites" asp-route-id="@film.Id">
                                <input type="submit" value="Remove from Favourite" class="addToFavor--fantasy" />
                            </form>
                        }
                        @if(film.Genre == "Animation")
                        {                            
                            <form class="input-group-sm" asp-controller="Film" asp-action="RemoveFromFavourites" asp-route-id="@film.Id">
                                <input type="submit" value="Remove from Favourite" class="addToFavor--animation" />
                            </form>
                        }
                        @if(film.Genre == "Comedy")
                        {
                            <form class="input-group-sm" asp-controller="Film" asp-action="RemoveFromFavourites" asp-route-id="@film.Id">
                                <input type="submit" value="Remove from Favourite" class="addToFavor--comedy" />
                            </form>
                        }   
                        @if(film.Genre == "Action")
                        {
                            <form class="input-group-sm" asp-controller="Film" asp-action="RemoveFromFavourites" asp-route-id="@film.Id">
                                <input type="submit" value="Remove from Favourite" class="addToFavor--action" />
                            </form>
                        }   
                    
                }
            </div>
        }
    </section>
</div>
@*<div class="general-div">
    <section id="moviesSection">
        @foreach (var film in Model)
        {
            <div class="sub-div">
                <article>
                    <img class="movie__img2"
                        src="@film.ImageUrl" alt="Film Image">
                    <div class="card-body">

                        <h5 class="card-title mt-1">@film.Name</h5>
                        <p class="mb-0">Author: @film.Country, @film.Year</p>
                        <p class="mb-0">Description: @film.</p>
                        <p>Category: @film.Genre</p>
                    </div>
                </article>

                <form class="input-group-sm" asp-controller="Film" asp-action="RemoveFromFavourites" asp-route-id="@film.Id">
                    <input type="submit" value="Remove from Favourites" class="fs-6 btn btn-success mb-3 p-2" />
                </form>
            </div>
        }
    }
    </section>
</div>*@

